.Game
    display: grid
    
.line
    display: flex
    padding: 2px

div[class^="game-card__"]
    height: 30px
    width: 30px
    border-radius: .25em
    box-shadow: 3px 3px 5px #10101050
    margin: 5px

div[class^="game-card__"]:hover
    height: 35px
    width: 35px
    margin: 2.5px

div[class^="game-card__"]:active
    height: 25px
    width: 25px
    margin: 7.5px